header {
  /* border: 0.1rem solid red; */
  background-color: hsl(0, 2%, 9%);
  color: #ccc;
  height: 4rem;
  padding: 0.5rem;
  display: flex;
  /* justify-content: center; */
  align-content: center;
  align-items: center;
  background-color: 3252323;
  color: #eee;
}

.logo {
    border: blue solid; 
    background-color: blue; 
    color: #eee;
    font-weight: bold;
    border-radius: 100%;
    width: 1rem;
    height: 1rem;
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-right: 0.7rem;
    
}
.titulo {
    flex: 1;
    /* border: .1rem solid white ; */
}
.menu-hamburguer {
    /* border: .1rem solid red; */
    border-radius: 100%;
    width: 1rem;
    height: 1rem;
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #464646;

}
.menu-hamburguer i {
    font-size: 1.2rem;
    color: #ccc;
 
}

.menu-hamburguer:hover i { /* efeito na div*/
    color: #eee;
}
    

.menu-hamburguer i:hover { /* efeito no icone*/
    color: white;
}
